[submodule "src/main/selector/libs/wxWidgets"]
	path = src/main/selector/libs/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "src/base_2d/libs/Lua"]
	path = src/base_2d/libs/Lua
	url = https://github.com/walterschell/Lua.git
[submodule "src/base_2d/libs/SDL2"]
	path = src/base_2d/libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "src/base_2d/libs/SDL2_image"]
	path = src/base_2d/libs/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "src/base_2d/libs/SDL2_mixer"]
	path = src/base_2d/libs/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = SDL2
[submodule "src/base_2d/libs/SDL2_ttf"]
	path = src/base_2d/libs/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
[submodule "src/base_2d/libs/libzip"]
	path = src/base_2d/libs/libzip
	url = https://github.com/nih-at/libzip.git
